<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visa.android.integration.checkoutsampleapp.app">

    <uses-permission android:name="android.permission.NFC" />

    <!-- Permissions needed by Visa XO SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- card.io: Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- card.io: Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Android Fingerprint -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- Samsung pass -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- card.io: Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".TheMenu"
            android:label="@string/title_activity_the_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        <activity
            android:name=".LoginFragment"
            android:label="Login" ></activity>
        -->


        <!-- Visa XO SDK Activity -->
        <activity
            android:name="com.visa.checkout.VisaMcomActivity"
            android:configChanges="locale|layoutDirection" />
        <activity
            android:name=".PaymentStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PaymentSummaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ConfigurePaymentActivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- Activities responsible for gathering payment info via card.io -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />

        <!-- App Id for facebook Sdk -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Summary"
            android:label="@string/title_activity_summary"></activity>
    </application>

</manifest>
